<!-- <babdev-sidebar #sidebar (currentStatus)="sidebarStatus($event)" [openedAtInit]="true">
  <ng-container sidebarContent>
    sidebar content here
  </ng-container>

  <div class="page" pageContent>
    <header>
      header
    </header>
    <main class="page__content">
      main content here
      <router-outlet></router-outlet>
    </main>
    <footer>
      footer
    </footer>
  </div>
</babdev-sidebar> -->

<babdev-sidebar #sidebar [openedAtInit]="true" [withTouch]="true">
  <ng-container sidebarContent>
    <babdev-page-list></babdev-page-list>
  </ng-container>

  <div class="page" pageContent>
    <main class="page__content">
      <div class="page__router" [@routerAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
        <!-- main content here common library test
        <br />
        <span>{{ 'common.TIME.DAY.SINGLE' | translate | async }}</span>
        <br />
        <button (click)="translateService.changeActiveLanguage('en')">Change to en</button
        ><br /><button (click)="translateService.changeActiveLanguage('it')">Change to it</button> -->
      </div>
    </main>
    <footer>
      footer
    </footer>
  </div>
</babdev-sidebar>
