.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    display: flex;
    flex-grow: 1;
    position: relative;
  }

  &__router {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}
