@import "~@styleguide_funcional";

.header {
  position: relative;

  &__bg {
    display: block;
    height: px-to-rem(68);
  }

  &__list {
    display: block;
    padding-left: calc-spacing(2);
    position: absolute;
    top: 0;
  }
}
