* {
  background: none;
  border: none;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition-duration: 0s;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-size: px-to-rem(16);
  overflow-x: hidden;
}

a,
button {
  cursor: pointer;
}

ul {
  list-style: none;
}
